{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
		"parser": {
			"syntax": "typescript"
		},
		"target": "es2022",
		"keepClassNames": true,
		"baseUrl": "./src",
		"paths": {
			"@/*": ["./src/*"]
		}
	},
	"module": {
		"type": "es6"
	},
	"sourceMaps": true
}
